@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h1>Employee Reimbursement Form</h1>

    <form>
        <label for="employee-id">
            Employee ID
        </label>
        <input type="text" id="employee-id" name="employee_id" class="form-control">

        <label for="first-name">
            First Name
        </label>
        <input type="text" id="first-name" name="first_name" class="form-control" />

        <label for="last-name">
            Last Name
        </label>
        <input type="text" id="last-name" name="last_name" class="form-control" />


        <label for="date">
            Today's Date
        </label>
        <input type="text" name="date" id="date" value="@DateTime.Now.ToShortDateString()" class="form-control">

        <label for="department">
            Department
        </label>
        <select name="department" id="department" class="form-control">
            <option value="" disabled>-- Please Select One --</option>
        </select>
    </form>
</div>
